USE [master]
GO
/****** Object:  Database [NetBank]    Script Date: 10/19/2021 9:41:10 AM ******/
CREATE DATABASE [NetBank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetBank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NetBank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NetBank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NetBank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetBank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetBank]
GO
/****** Object:  Table [dbo].[tb_NetBank]    Script Date: 10/19/2021 9:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NetBank](
	[ACC_NO] [bigint] IDENTITY(100000000,1) NOT NULL,
	[Account_Holder_Name] [nvarchar](50) NULL,
	[Mobile_Number] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Amount] [float] NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
 CONSTRAINT [PK_NetBank] PRIMARY KEY CLUSTERED 
(
	[ACC_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_NetBank] ON 

INSERT [dbo].[tb_NetBank] ([ACC_NO], [Account_Holder_Name], [Mobile_Number], [Password], [Amount], [City], [Country]) VALUES (100000000, N'baba', N'9555595555', N'baba', 553, N'shirdi', N'india')
INSERT [dbo].[tb_NetBank] ([ACC_NO], [Account_Holder_Name], [Mobile_Number], [Password], [Amount], [City], [Country]) VALUES (100000001, N'Rajeena', N'9036327185', N'RR', 1010, N'Bangalore', N'India')
INSERT [dbo].[tb_NetBank] ([ACC_NO], [Account_Holder_Name], [Mobile_Number], [Password], [Amount], [City], [Country]) VALUES (100000002, N'Queen', N'9901558426', N'qu', 1490, N'Mysore', N'India')
SET IDENTITY_INSERT [dbo].[tb_NetBank] OFF
GO
USE [master]
GO
